
<div id="info-section-profile" class="container-fluid no-gutter profile " ng-controller="AppIndexCtrl">
    <div class="row bottom-line">
        <div class="col-xs-7 user">
            <div class="row">
                <div class="col-xs-3 col-sm-4 text-center">
                    <img src="img/default_avatar.jpg" nhw-src="{{picurl}}{{cuser.photo}}"  class="img-circle" /> <!-- src="img/avatar.jpg" -->
                </div>
                <div class="col-xs-9 col-xs-8">
                    <span class="valign-wrapper">
                        <div><strong>{{cuser.name}}</strong> </div>
                        <div>{{cuser.email}}</div>
                        <div class="current-checkin"><span ><i class="fa fa-circle"></i> = Uw werkplek</span></div>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-5 workspace text-center">
            <div class="text-left inline-block">
                <div>Ingecheckt op: </div>
                <div
                    class="mt5">Verdieping:&nbsp;&nbsp;&nbsp;&nbsp;<b>{{floor.FloorNum}}</b> <br />
                Werkplek:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{seat}}</b> </div>
                <div class="mt5"><a  ng-click="reflush();" class="btn-reflush"><i class="fa fa-refresh">&nbsp;&nbsp;</i>Verversen</a></div>
            </div>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col-xs-12 footer top-line">
            <button class="btn" ng-click='checkout();'>Uitchecken</button>
        </div>
    </div>
    -->
</div>

<div auto-height>
    <ng-include id="app-index-svg-include" src="'partials/svg.html'"></ng-include>
</div>
