
<!-- <div content-for="info-bar-title">Inchecken op uw werkplek</div> -->

<div class="container-fluid" ng-controller="CheckInCtrl" id="checkin-page">
    <img src="img/login_bg.jpg" alt="" class="bg-img" />
    
    <div class="row " >
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary btn-lg btn-block" ui-sref="app.buildings">
                {{ isInBuilding ? "Handmatig inchecken" : "Werkplek overzicht" }}
            </button>

        </div>
    </div>
    <div class="row " >
        <div class="col-xs-12">
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="scanBarcode()">Inchecken via scan</button>          </div>
    </div>
    <div class="row " ng-show="error">
        <div class="col-xs-12" ng-bind-html="error" >
        </div>
    </div>
    <div class="row row-padding top-dotted-line">
        <div class="col-xs-12">
            <button type="button" class="btn btn-lg btn-block btn-primary-reverse" ng-click="showRuleScreen()">Werkafspraken</button>
        </div>
    </div>

    
    <script type="text/ng-template" id="firstuse_modal.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()"><i class="fa fa-times" ></i></button>
            <h4 class="modal-title">Welkom bij NS</h4>
        </div>
        <div class="modal-body" popwin>
            <div class="container-fluid" id="rules_modal" >
                <!-- <div class="scrollable"> -->
                <!--     <div class="scrollable-content"> -->
                        
                        <p>Om goed te kunnen samenwerken, houden we ons aan de volgende werkafspraken.</p>
                        <ol>
                            <li>Geen vaste werkplekken en stel jezelf voor.</li>
                            <li>Kies een werkplek die past bij je activiteit.</li>
                            <li>Ben bereikbaar en vindbaar.</li>
                            <li>Houd de werkplekken netjes en eet op de daarvoor bestemde plekken.</li>
                            <li>Log uit als je langer dan 60 minuten weg gaat.</li>
                            <li>Stoor je collega’s niet als je belt of overlegt.</li>
                            <li>Werk zoveel mogelijk digitaal.</li>
                            <li>Haal en breng je externe bezoek bij de receptie.</li>
                            <li>Houd rekening met elkaar en maak zaken bespreekbaar.</li>
                        </ol>
                        <p>Veel werkplezier!</p>
                        
                <!--     </div> -->
                <!-- </div> -->

            </div>
        </div>
        <div class="modal-footer" >
            <button class="btn" ng-click="ok('ok')">&nbsp;&nbsp;Akkoord&nbsp;&nbsp;</button>
        </div>
    </script>
    
</div>




