
<div ng-controller="FloorsCtrl">

<div content-for="info-bar-title">
    Selecteer een verdieping:
    <div class="pull-right">
        <i> {{countInfo.UnavailableSeatCount}} ingecheckt </i>&nbsp;&nbsp;| <i> {{countInfo.AvailableSeatCount}} beschikbaar</i>
    </div>
</div>

<div class="scrollable" >
    <div class="scrollable-content no-scrollable-x">
        <div class="row ">
            <div class="col-xs-12 ">
                <div class="floor-list-container">
                    <table class="table table-striped floor-list">
                        <tr ng-repeat="floor in floors" ui-sref="app.floor_select({f:floor.FloorId})"> 
                            <td>Verdieping {{floor.FloorNum}}</td>
                            <td>{{floor.NonEmptySeat}} ingecheckt <i class="fa fa-users"></i></td>
                            <td>
                                {{floor.SeatCount - floor.NonEmptySeat}} beschikbaar 
                                <i class="fa fa-ban text-danger" ng-if="floor.SeatCount == 0 || floor.SeatCount - floor.NonEmptySeat == 0"></i>
                                <i class="fa fa-check-circle text-success" ng-if="(floor.SeatCount>0) && (floor.SeatCount-floor.NonEmptySeat>0)"></i>                                
                            </td>
                            <td>
                                <!-- <a class="text-deepblue" ng-click="auto_reserve(floor.FloorId, floor.SeatCount-floor.NonEmptySeat);" stop-event='click'><i class="fa fa-map-marker fa-lg"></i></a> -->
                                <i class="fa fa-chevron-right"></i>
                            </td> 
                        </tr>
                    </table>
                </div>
            </div>
        </div>            
        
    </div>
</div>

</div>
