
<div class="scrollable">
    <div class="scrollable-content">
        <div class="container" ng-controller="QuickTestCtrl">
            
            <h4 id="storage_test">Storage Test</h4>
            <div ng-controller="StorageTestCtrl">
                <form class="form-horizontal" role="form">
                    <input bs-form-control type="text" ng-model="localtext" label="localStorage" placeholder="Customer Name" label-class="col-xs-4" class="col-xs-8" />
                    <input bs-form-control type="text" ng-model="sessiontext" label="sessionStorage" placeholder="Customer Name" label-class="col-xs-4" class="col-xs-8"/>
                    <button class="btn btn-default" ng-click="save()"> Save </button>
                    <button class="btn btn-default" ng-click="clear()"> Clear </button>
                </form>
                <p> {{msg}} </p>
            </div>
            
            <hr />
            <h4>Popover Test</h4>
            <div>
                <button popover-placement="top" popover="On the Top!" class="btn btn-default">Top</button>
                <button popover-placement="left" popover="On the Left!" class="btn btn-default">Left</button>
                <button popover-placement="right" popover="On the Right!" class="btn btn-default">Right</button>
                <button popover-placement="bottom" popover="On the Bottom!" class="btn btn-default">Bottom</button>
            </div>

            <hr />
            <h4>Popover Test2 <small>popover-window</small></h4>
            <div ng-init="pop = false">
                <a href="#" popover="message.html" popover-trigger="mouseenter" >popup mouseenter plain text</a> <br />
                <a href="#" popover-window="message.html" popover-window-trigger="mouseenter" >popup mouseenter html template</a> <br />
                <a href="#" popover="message.html" popover-trigger="manual" popover-visible="pop" popover-placement="right" >POPUP</a> <br />
                <a href="#" popover-window="message.html" popover-window-trigger="manual" popover-window-visible="pop" >POPUP</a> <br />
                <button class="btn" ng-click="pop = !pop">Example</button>
                {{pop}}

                <script id="message.html" type="text/ng-template">
                    <p>Here comes the <b>HTML</b> popover contents!!! It can be bind to scope values also.</p>
                </script>
            </div>

            <hr />
            <h4>Modal Test</h4>
            <div ng-controller="ModalTestCtrl">
                <script type="text/ng-template" id="myModalContent.html">
                    <div class="modal-header">
                        <h3 class="modal-title">I'm a modal!</h3>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li ng-repeat="item in items">
                                <a ng-click="selected.item = item">{{ item }}</a>
                            </li>
                        </ul>
                        Selected: <b>{{ selected.item }}</b>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                    </div>
                </script>

                <button class="btn btn-default" ng-click="open()">Open me!</button>
                <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
                <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
                <div ng-show="selected">Selection from a modal: {{ selected }}</div>
            </div>
            
            
            <hr />
            <h4>Overlay Test</h4>
            <div>
                <a toggle="on" class="btn btn-default" href="#myOverlay">Show Overlay 1</a>
                <div overlay="myOverlay">
                    <h4 class="overlay-title">My Overlay</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, ex eaque possimus ipsa ab quasi quos corporis consequatur laudantium? Ab assumenda delectus quo velit voluptates doloribus. Earum odit facilis qui.
                    </p>
                    <p toggle="off" bubble target="myOverlay">
                        <span class="btn btn-primary">Ok</span>
                        <span class="btn btn-default">Cancel</span>
                    </p>  
                </div>
            </div>

            <h4>File Download Test</h4>
            <div ng-controller="FileDownloadTestCtrl">
                <button class="btn btn-default" ng-click="download()">Download svg file</button>
            </div>
        </div> 
        
    </div>
</div>


